// @import './mixins.scss';

:root {
  --link-primary-color: #00ade6;

  --text-color: #000;
  --text-alternate-color: #fff;
  --text-secondary-color: #00ade6;

  --text-small-color: #acacac;

  --button-primary-bg-color: #000;
  --button-primary-text-color: #fff;

  --button-secondary-bg-color: #00ade6;
  --button-secondary-text-color: #fff;

  --button-disabled-bg-color: #e4e6e8;
  --button-disabled-text-color: #535a60;

  --card-background-color: #fff;
}

body {
	min-height: 100vh;
	font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	word-spacing: 1px;
	box-sizing: border-box
}

h1, h2, h3, h4, p, a, b  {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  display: inline-block;
}

h1 { 
  font-size: 50px;
  line-height: 58px;
}

h2 {
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 16px;
}

h3 { 
  font-size: 21px; 
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(25, 26, 30, 0.4);
  margin: 8px 0;
  vertical-align: top;
}

h4 {
  font-size: 18px;
  line-height: 26px;
}

p  { 
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  margin-bottom: 20px;
}

strong { color: #191A1E;}

a {
  text-decoration: none;
}

p a:hover { text-decoration: underline;}

p {
	margin: 0px 0px 20px 0px;
}

img, .image {
  max-width: 100%;
  object-fit: cover;
}

img {
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  width: 100%;
  height: 100%;

  &.show {
    opacity: 1;
  }
}

small {
  font-size: 0.9rem;
}

*,
:after,
:before {
	box-sizing: border-box;
	margin: 0
}

a,
a:active,
a:visited {
	color: var(--link-primary-color);
	text-decoration: none
}

a,
a:active,
a:visited,
button {
	-webkit-transition: all .2s ease;
	transition: all .2s ease
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
	border: 1px solid #ccc;
	background: var(--button-primary-text-color);
	padding: 10px 14px;
	cursor: pointer;
	color: var(--button-primary-bg-color);

}

button:hover {
	background: var(--button-primary-bg-color);
	border: 1px solid var(--button-primary-text-color);
	color: var(--button-primary-text-color);
}

.price {
	color: var(--link-primary-color);
	margin: 5px 0;
	font-weight: 400;
}

hr {
	border-top: 1px solid #eee;
	margin: 30px 0
}

label {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .1em;
	margin-top: 20px;
	display: inline-block
}

input {
	font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
	font-size: 16px;
	padding: 5px 10px
}

select::-ms-expand {
  display: none;
}

 .custom-dropdown {
  position: relative;
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

    background-color: #fff;
    border: 1px solid #e0e0e0;
    outline: none;
    cursor: pointer;
    padding-left: 16px;
    width: 100%;
    color: #595959;
    border-radius: 4px;
    padding-right: 36px;
    height: 48px;

    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .2px;
    transition: border-color .2s linear;

    &:hover {
      border-color: #00ade6;

      ~.select_icon {
        fill: #00ade6;
      }

      span {
        color: #00ade6;
      }
    }

    &:last-child {
      top: 50%;
    }
  }

  .select_icon {
    position: absolute;
    right: 9px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    top: 24px;
  }
}

main {
  // vw used otherwise we cannot use auto-fit for product-card grid
  width:  97.5609756097561vh; //1200px
  margin: 0 auto;
  padding: 40px;

  @media screen and (max-width: 768px) {
    padding: 20px;
    width: 100%;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 400px;
  width: 100%;
}