// Mixins

// Responsive widths.
$extra-extra-small: 0px;
$extra-small: 576px;
$small: 768px;
$medium: 992px;
$large: 1200px;
$extra-large: 1440px;
$extra-extra-large: 1758px;

// Media Queries
@mixin xs-screen {
  @media only screen and (max-width: #{$extra-small}) {
    @content;
  }
}

@mixin sm-screen {
  @media only screen and (max-width: #{$small}) {
    @content;
  }
}

@mixin md-screen {
  @media only screen and (max-width: #{$medium}) {
    @content;
  }
}

@mixin lg-screen {
  @media only screen and (max-width: #{$large}) {
    @content;
  }
}

@mixin xl-screen {
  @media only screen and (max-width: #{$extra-large}) {
    @content;
  }
}

@mixin xxl-screen {
  @media only screen and (max-width: #{$extra-extra-large}) {
    @content;
  }
}
