<!-- Please remove this file from your project -->
<template>
  <div class="brands-list">
    <button class="card-category"
        v-for="brand in brandsList"
        :key="brand"
        @click='sortByBrand(brand)'
      >
        {{ brand }}
    </button>
  </div>
</template>

<script>
  import { mapGetters } from "vuex";
  import helpers from '~/helpers'

  export default {
    name: "brandsFilter",
    props: {
      method: { type: Function },
      filters: { type: Array }
    },
    computed: {
      ...mapGetters([
        'getProducts'
      ]),

      brandsList() {
      return helpers.getUniqueList(this.getProducts, 'brands')
    },

    },
    methods: {
      sortByBrand (brand) {
        this.$store.commit('SET_ACTIVE_BRAND', brand)
        this.$emit('handleFilter')
      },
    }
  }
</script>

<style lang='scss' scoped>
  .brands-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 20px 0;
  }
</style>
