<template>
  <div class="sorting-header">
    <p class="sorting-header--results" v-if="totalProducts >= 0">
      {{ totalProducts }} {{ totalProducts.length > 1 ? `Resultaten` : 'Resultaat' }}
    </p>
    <p v-else>Geen resultaten gevonden.</p>

    <div class="custom-dropdown">
      <select class="form-control" @change="changeCategory($event)">
        <option value="DEFAULT" hidden="" disabled="" class="select_option" selected="">Sorteer op</option>
        <option
          v-for="cat in categoryList"
          :value="cat"
          :key="cat"
        >
          {{ cat }}
        </option>
      </select>

      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="select_icon svg svg--caret-down" viewBox="0 0 24 24" width="24" height="24">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7071 10.2929C17.0976 10.6834 17.0976 11.3166 16.7071 11.7071L12 16.4142L7.29289 11.7071C6.90237 11.3166 6.90237 10.6834 7.29289 10.2929C7.68342 9.90237 8.31658 9.90237 8.70711 10.2929L12 13.5858L15.2929 10.2929C15.6834 9.90237 16.3166 9.90237 16.7071 10.2929Z"></path>
      </svg>

    </div>
  </div>
</template>

<script>
  import { mapState } from "vuex";
  import helpers from '~/helpers'

  export default {
    name: "categoryFilter",
    props: {
      method: { type: Function },
      filters: { type: Array },
      totalProducts: Number
    },
    computed: {    
      ...mapState(['products']),

      results () {
        return this.products
      },
      categoryList() {
        return helpers.getUniqueList(this.products, 'category')
      },
    },
    methods: {
      changeCategory (event) {
        this.selectedCat = event.target.options[event.target.options.selectedIndex].text
        this.$store.commit('SET_ACTIVE_CATEGORY', {category: this.selectedCat})
        this.$emit('handleFilter')
      }
    }
  }
</script>

<style lang='scss' scoped>
  .sorting-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    .custom-dropdown {
      @include sm-screen {
        width: 100%;
      } 
    }
   
    &--results {
      @include sm-screen {
        display: none;
      }
    }
  }
</style>
