<template>
  <nav>
    <ul>
      <li><nuxt-link exact class='nav-link' to="/">Artikelen</nuxt-link></li>
      <li><nuxt-link exact class='nav-link' to="/about">De opdracht</nuxt-link></li>
      <li class='shopping-cart'>
        <nuxt-link exact class="cart" to="/cart">Boodschappen</nuxt-link>
          <div class='cartcount'>
          <span>{{ cart && cart.length > 0 ? cart.length : '0' }}</span>
        </div>
      </li>
    </ul>
  </nav>
</template>

<script>
  import { mapGetters } from "vuex";
  export default {
    beforeMount () {
      this.$store.commit('INITIALIZE_CART')
    },
    computed: {
      ...mapGetters({
        getCart: 'getCart',
      }),
      cart() {
        return this.getCart
      }
    }
  }
</script>

<style lang='scss' scoped>
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 40px 0;
    width: 100%;
  }

  li {
    display: flex;
    padding: 4px 6px;
    list-style-type: none;
    position: relative;

    &:not(:last-child) {
      margin-right: 80px;
    }

    &:last-of-type {
      margin-left: auto;
    }

    a, .nuxt-link-active {
      position: relative;
      color: var(--text-secondary-color);

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -4px;
        left: 0;
        background-color: var(--link-primary-color);
        visibility: hidden;
        transform: scaleX(0);
        transition: all .2s ease-in-out 0s;
      }

      &:hover {
        &:after {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }

    a.nav-link {
      color: var(--text-color);

      &:hover {
        color: var(--link-primary-color);
      }
    }

    @include sm-screen {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  a.nuxt-link-active {
     &:after {
      visibility: visible;
      height: 1px;
      transform: scaleX(1);
    }
  }

  .cartcount {
    position: relative;
  }

  .cartcount span {
    position: absolute;
    top: -10px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.825rem;
    font-size: 600;
    color: var(--text-alternate-color);
    border-radius: 100%;
    background: var(--button-secondary-bg-color);
    width: 24px;
    height: 24px;
    margin-bottom: 1rem;
  }

  a.cart {
    margin-right: 0.5rem;
  }
</style>
