<template>
  <div class="sorting">
    <div>
      <button
        v-for="(filter, index) in items"
        :class="{
          active: (filter.name.toLowerCase() !== 'reset')
            ? filter.active
            : false
          }"
        :key="filter.id"
        @click="handleSorting(filter.sortKey, index)">
      {{
        filter.sortKey.toLowerCase() === 'price'
          ? sortDir === 'asc'
            ? `${filter.name} ↓`
            : `${filter.name} ↑`
          : filter.name
      }}
      </button>
      </div>
  </div>
</template>

<script>
export default {
  name: "productsFilter",
  props: {
    method: { type: Function },
    filters: { type: Array }
  },
  data() {
    return {
      // set prop 'filters' to local state 'items'
      // for setting 'active' class on the filters
      items: this.filters,
      sortDir: 'asc'
    }
  },
  methods: {
    setActiveButton (key, index) {
      //reset every 'active filter'
      this.items = [...this.items].map(obj => ({ ...obj, active: false }) )

      // set the correct filter 'active'
      this.items[index].active = !this.items[index].active;

       if (key.toLowerCase() === 'price') {
          this.sortDir = this.sortDir === 'asc'
            ? 'desc'
            : 'asc';
        }

      this.$store.commit('SAVE_SORT_DIR', { sortDir: this.sortDir })
    },

    handleSorting (key, index) {
      // set active btn class on clicked filter
      this.setActiveButton(key, index)

      this.$store.commit('SAVE_SORT_KEY', { sortKey: key })
      this.$emit('handleSortByKey')
    }
  }
}
</script>

<style lang='scss'>

  .sorting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;

    button {
      &.active {
        color: white;
        background: black;
      }
      &:not(:last-child) {
        margin-right: 1rem;
        margin-bottom: 0.5rem;
      }

      @include sm-screen {
        padding: 10px 9px;
      }
    }
  }
</style>