<template>
  <div>
    <div>
      {{ JSON.stringify(filtered) }}
    </div>
    <div class="products-container" v-if="products !== null && products.length > 0">
      <article class="products-card" v-for="product in products" :key="product.ProductID">
        <!-- We want to show 1 image instead of more  -->
        <div class="products-card__image" v-for="image in product.ProductPictures.slice(0,1)" :key="image.url">
          <nuxt-link :to="{ path: `products/${product.ProductID}`, params: { id: product.ProductID } }">
            <img
              @load="onLoadImage"
              :class="imgIsLoaded ? 'image show' : 'image'"
              :src="`${image.Url}?width=170&amp;height=170&amp;mode=crop` || require(`../assets/img/johnnyboersma.jpg`)"
              :alt="product.MainDescription"
            />
          </nuxt-link>
        </div>

        <div class="products-card__info">
          <nuxt-link
            class="products__title"
            :to="{ 
              path: `products/${product.ProductID}`,
              params: { id: product.ProductID }
            }"
          >
            {{ product.MainDescription }}
          </nuxt-link>

          <p class="products__brand">{{ product.Brand }}</p>
          <strong><small v-if="product.quantity">Aantal: {{ product.quantity }}</small></strong>
          <ul class="products__category">
            <li v-for="(cat,index) in product.WebSubGroups" :key="index">{{ cat.Description }}</li>
          </ul>
        </div>
  

        <div class="products-card__actions">
          <div class="product-offers" v-if="product.ProductOffers.length > 0">
            <nuxt-link
              class="products__price-offer-price"
              :to="{ 
                path: `products/${product.ProductID}`,
                params: { id: product.ProductID }
              }"
              v-for="(offer, index) in product.ProductOffers" :key='index'
            >
              {{ offer.OfferPrice }}
            </nuxt-link>

            <nuxt-link
              class="products__price-old-price"
              :to="{ 
                path: `products/${product.ProductID}`,
                params: { id: product.ProductID }
              }"
              v-for="priceOffer in product.ProductOffers" :key='priceOffer.OfferID'
            >
              {{ priceOffer.RegularPrice }}
            </nuxt-link>
          </div>

          <div v-else>
            <nuxt-link
              class="products__price"
              :to="{ 
                path: `products/${product.ProductID}`,
                params: { id: product.ProductID }
              }"
              v-for="priceOption in product.ProductPrices" :key='priceOption.Price'
            >
              {{ priceOption.Price || 'n/a' }}
            </nuxt-link>
          </div>
          
          <button v-if="product.inCart" class="products__add-cart" @click="removeFromCart(product)">
            -
          </button>
          <button v-else class="products__add-cart" @click="addToCart(product)">
            +
          </button>
        </div>
      </article>
    </div>

    <div class="products__container" v-else>
      <div class="empty__report">
        <h5>Geen producten gevonden</h5>
        <button class="nav__link nav__link--long">
          <nuxt-link to="/contact">Neem contact op</nuxt-link>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import helpers from '../helpers'
export default {
  name: "productCard",
  props: {
    products: Array,
    filtered: Array,
  },
  data () {
    return {
      imgIsLoaded: false
    }
  },
  methods: {
    onLoadImage () {
      this.imgIsLoaded = helpers.onLoadImg()
    },

    addToCart (product) {
      let item = product

      item = {
        ...item,
        quantity: 1,
        inCart: true
      }

      // update local state for showing a '-' in the button
      this.products.forEach(prod => {
        if (prod.ProductID === product.ProductID) {
          prod = item
          console.log('pro', prod)
        }
      })

      this.$store.commit("ADD_TO_CART",  {...item});
    },
    removeFromCart (product) {
       let item = product

      delete item.quantity
      delete item.inCart

      this.$store.commit("REMOVE_FROM_CART", {...item})
    }
  }
};
</script>

<style lang='scss'>
  .products {

    &-container {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      overflow: hidden;

      @include sm-screen {
        grid-template-columns: repeat(2, 1fr);
        line-height: 40px;
        font-size: 40px;
        padding-left: 0
      }
    }

    &-card {
      display: flex;
      flex-direction: column;
      height: 380px;
      padding: 16px;
      position: relative;
      cursor: pointer;
      transition: all .2s ease-in-out;
      background-color: var(--card-background-color);
      border-radius: 3px;
      position: relative;

      &:hover {
        .products-card__image {
          transform: scale(1.05);
        }
      }

      &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 1rem;
        background-color: #fff;
        transition: transform 0.5s;
        width: 100%;

        .image {
          max-width: 100%;
          object-fit: cover;
          width: 170px;
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .products {
          &__title {
            font-weight: 500;
            line-height: 1.3;
            font-size: 1rem;
            overflow: hidden;
            color: var(--text-color);
          }

          &__brand {
            font-size: 0.9rem;
            margin-top: 0;
          }

          &__category {
            li {
              font-size: 0.9rem;
            }
          }
        }
      }

      &__actions {
        display: flex;
        margin-top: auto;
        justify-content: space-between;

        .products {

          &__price {
            display: inline-block;
            color: var(--text-color);
            font-size: 2.25rem;
            line-height: 1;
            position: relative;

            &-offer-price {
              color: var(--text-secondary-color);
              font-weight: 600;
              font-size: 2.25rem;
            }

            &-old-price {
              color: var(--text-color);
              text-decoration: line-through;
            }
          }

          &__add-cart {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            line-height: 36px;
            text-align: center;
            font-size: 1rem;
            background-color: var(--button-secondary-bg-color);
            color: var(--text-alternate-color);
            height: 36px;
            width: 36px;
            border-radius: 50%;
            transform: scale(1);
            transition: transform all .2s ease;

            &:hover {
              opacity: 0.8;
              transform: scale(1.1);
            }
          }
        }
      }

    }

    &__button {
      margin-top: 1rem;
    }
  }

</style>
