<template>
    <div class="products-detail__container" v-if="product">
      <section>
        <div class="products-detail__image" v-for="image in product.ProductPictures.slice(0,1)" :key="image.url">
          <img
            @load="onLoadImage"
            :class="imgIsLoaded ? 'show' : 'image'"
            :src="`${image.Url}?width=500&amp;height=500&amp;mode=crop` || require(`../../assets/img/johnnyboersma.jpg`)"
            :alt="product.MainDescription"
          />
        </div>
      </section>

      <section>
        <h1 class="products-detail__title">
          {{ product.MainDescription }}
        </h1>
        <span class="products-detail__extra-info" v-if="product.CommercialContent">
          {{ product.CommercialContent }}
        </span>

        <p class="products-detail__description" v-if="product.CommodityLawName">
          {{ product.CommodityLawName }}
        </p>

        <p class="products-detail__price price"
           v-for="priceOption in product.ProductPrices"
           :key='priceOption.Price'
        >
          {{ priceOption.Price || 'n/a'}}
        </p>
        
        <div class="products-detail__options">
          <div class="quantity">

            <button
              class="update-num"
              @click="checkQuantity('add')"
              >
              -
            </button>

            <input type="number" v-model="quantity" :min="min" :max="max" />

            <button
              class="update-num"
              @click="checkQuantity('min')"
            >
              +
            </button>
          </div>

          <button
            :class=" this.added ? 'add-to-cart__disabled' : 'add-to-cart'"
            @click="addToCart"
          >
            {{ this.added ? 'Toegevoegd!' : 'Voeg toe +' }}
          </button>
        </div>

         <h6 v-if="this.added">
          Toegevoegd aan winkelwagen! Aantal artikelen in winkelwagen:{{ cart.length }}
        </h6>

        <h4>Voedingswaarden</h4>
        <p>Deze waarden gelden voor het onbereide product.</p>
        <ul>
          <li v-for="info in product.Nutrition"
              :key="info.MainValue.Description"
          >
            {{ info.MainValue.Text }} - {{ info.MainValue.ValueAsSold }}
          </li>
        </ul>

      </section>
    </div>

    <div class="products__container" v-else>
      <div class="empty__products">
        <h5>Geen product detail gevonden</h5>
        <button>
          <nuxt-link to="/contact">Neem contact op</nuxt-link>
        </button>
      </div>
    </div>
</template>

<script>
  // import cartHelpers from '../../helpers/cart-helpers.js'
  import helpers from '../../helpers'
  import { mapGetters } from "vuex";

  export default {
    data () {
      console.log('params', this.$route.params.ProductID)

      return {
        // :id from url get passed as a string
        id: parseInt(this.$route.params.ProductID),
        tempcart: [],
        quantity: 1,
        added: false,
        imgIsLoaded: false,
        min: 1,
        max: 100
      };
    },
    computed: {
      ...mapGetters({
        getProducts: 'getProducts',
        getCart: 'getCart',
      }),

      product() {
        const items = this.getProducts || []

        const productDetail = items.find(el => {
          return el.ProductID === this.id
        });

        console.log('DETAIL PRODUCT-DATA', productDetail)
        return productDetail
      },

      cart() {
        return this.getCart
      }
    },
    methods: {
      checkQuantity (type) {
        // when user want to change quantity, enable button again
        if (this.added) {
          this.added = !this.added
        }

        if (type === 'add') {
          this.quantity > 1
            ? this.quantity--
            : this.quantity = 1
        } else {
          this.quantity++
        }
      },
      addToCart() {
        let item = this.product;

        item = {
          ...item,
          quantity: this.quantity
        }
        this.tempcart.push(item);
        this.$store.commit("ADD_TO_CART",  {...item});

        this.added = true
      },
      onLoadImage () {
        this.imgIsLoaded = helpers.onLoadImg()
      },
    }
  }
</script>

<style lang='scss'>
  .products-detail {

    &__container {
      margin-left: 8%;
      width: 80%;
      display: grid;
      justify-content: space-around;
      grid-template-columns: 1fr 2fr;

      @include sm-screen {
        width: 100%;
        grid-template-columns: 1fr;
        margin-left: 0;
      }

      input,
      select {
        width: 86px;
        font-size: 25px;
        margin: 0 5px;
        padding: 5px 10px;
        color: var(--text-color);
      }

      .update-num {
        background: var(--text-color);
        border-color: var(--text-color);
        color: var(--text-alternate-color);
        font-size: 20px;
        width: 45px;
      }
    }

    &__image {
      padding: 24px;
      display: flex;
      align-content: center;
      align-items: center;
      overflow: hidden;

      @include sm-screen {
        padding: 12px;
      }
    }

    &__extra-info {
      font-size: 1rem;
      font-weight: 500;
      margin: 0;
      color: var(--text-small-color);
      line-height: 1;
    }

    &__description {
      margin: 20px 0;
    }

    &__price {
      font-size: 24px;
      padding: 12px 0;
    }

    &__options {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      margin-top: 2rem;

       @include sm-screen {
         margin-top: 0.5rem;
         margin-bottom: 2rem;
         width: 100%;
       }

      .quantity {
        margin-right: 1rem;
        display: flex;
      }

      .add-to-cart {
        border: none;
        background-color: var(--button-secondary-bg-color);
        color: var(--button-secondary-text-color);

        &__disabled {
          background-color: var(--button-disabled-bg-color);
          color: var(--button-disabled-text-color);
        }
      }
    }

  }
    
</style>
