<template>
  <article>
    <h1>About</h1> <br />
    <h4>Snakeware opdracht: 14-juli-2021</h4>
    <p>
      <strong>Product filter opdracht</strong> <br />
      Maak gebruik van het volgende endpoint:
      <strong>https://a1-
      api.detailresult.nl/v1/assortmentcache/group/281/104</strong> <br />eze heeft een de volgende query parameter
      nodig: <strong>api_key=6d3a42a3-6d93-4f98-838d-bcc0ab2307fd</strong> <br /> <br />
    </p>
    <ul>
      <li>
        Haal de producten op en toon deze als product kaartjes in een product overzicht. Het
          overzicht moet een maximale breedte hebben van 1200px en moet netjes responsive
          downscalen.
        <ol>
          o De product kaartjes mag je naar eigen design stylen als ze maar minimaal een productafbeelding, product naam, prijs quantity controller (plus / min) hebben.
        </ol>
      </li>
      <li>
        Maak het mogelijk om te filteren op brand, WebSubGroups en offers.
        <ol>
          o Offers herken je aan ProductOffers
        </ol>
      <li>• Maak het overzicht sorteerbaar op prijs.
      <li>
          Als je op een plus of min van de product kaart klikt moet er ergens een totaal bijgehouden
          worden.
      <li>
        • Een klik op een kaartje levert een product pagina op.
        <ol>
          o Deze hoeft niet extreem uitgebreid te zijn een grote variant van het product kaartje
            op zijn eigen url is voldoende.
            Qua design ben je dus helemaal vrij om er van te maken wat je wilt als het maar een overizcht
            oplevert welke aansluit bij bovenstaande punten. Als het lukt zou het leuk zijn om te zien wat voor
            micro animations je erin kwijt kunt maar omwille van tijd is dit zeker geen vereiste.
        </ol>
      </li>
    </ul>
  </article>
</template>

<style lang='scss' scoped>
  article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
  }
</style>