<template>
  <div>
    <h4>Aantal artikelen:{{ productsInCart && productsInCart.length > 0 ? productsInCart.length : '0' }}</h4>
    <productCard :products="productsInCart" />
  </div>
</template>

<script>
  import { mapGetters } from "vuex";
  export default {
    mounted () {
      this.$store.commit('INITIALIZE_CART')
    },
    computed: {
      ...mapGetters({
        productsInCart: 'getCart'
      }),
      
      productsInCart () {
        return this.$store.state.cart || []
      }
    }
  }
</script>

<style lang='scss'>

</style>
