<template>
   <section class="center">
     <div v-if="this.productsLoaded">
      <categoryFilter @handleFilter="handleCategoryFilter" v-bind:totalProducts="products.length"/>
      <brandsFilter @handleFilter="handleBrandFilter"/>

      <!-- passing :filters should be handled in productsFilter itself -->
      <!-- Keeping it here to demonstrate problem -->
      <productsFilter
        @handleSortByKey="handleSort"
        :filters="filters" 
      />
      <productCard :products="products" />
    </div>

     <div v-else>
       <h2>Artikelen aan het laden..</h2>
    </div>

  </section>
</template>

<script>
  import { mapGetters } from "vuex";
  import {filters} from '~/helpers/product-filters'

  export default {
    name: "products-page",

    beforeMount() {
      this.checkLocalStorage()
    },

    data () {
      return {
        products: [],
        productsLoaded: false,
        filters: [...filters.productOverview]
      };
    },

    computed: {
      ...mapGetters([
        'filterByBrand',
        'filterByCategory',
        'filterByKey'
      ])
    },

    methods: {
      // only used first time getting products
      setProducts() {
        this.products = this.$store.state.products
        this.productsLoaded = true
      },
      handleSort () {  
        const items = this.filterByKey
        this.products = items
      },
      handleBrandFilter () {
        this.products = this.filterByBrand
      },
      handleCategoryFilter () {
         this.products = this.filterByCategory
      },
      checkLocalStorage() {
        const lsProducts = localStorage.getItem('products');

        if (lsProducts) {
          console.log('Getting products from Localstorage')
          this.products = JSON.parse(lsProducts)
          this.$store.commit('SAVE_PRODUCT_DATA', this.products)

          this.productsLoaded = true
        } else {          
          // get data and set in state and execute 'setProducts'(that is called from 'store.js')
          // that will map the state products to our local component state
          console.log('First time fetching products')
          this.$store.dispatch("fetchProducts", { self: this })
        }
      }
    }
}
</script>
